* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input:focus {
    outline: none;
}
button {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url("../images/skybg.jpeg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book__wrapper {
    margin-bottom: 10px;
    width: 673px;
    height: 66px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.book__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}
.book__elem {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book__input-block {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.book__label {
    font-size: 12px;
    font-weight: 400;
}
.book__input {
    max-width: 70px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    margin-top: 3px;
    color: #fff;
}
.book__btn-n {
    color: #fff;
    cursor: pointer;
}
.book__input-guests {
    max-width: 20px;
    text-align: center;
    margin: 0;
    margin: 0 20px;
}
.book__submit {
    width: 208px;
    height: 64.5px;
    box-shadow: inset 0px 0px 8px 3px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    transition: background-color 0.3s linear, color 0.3s linear;
}
.book__submit:hover {
    background-color: #fff;
    color: #000;
}


.calendar {
    position: relative;
    width: 673px;
    min-height: 380px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.next, .prev {
    position: absolute;
    top: 38px;
}
.prev {
    transform: rotate(180deg);
    left: 50px;
}
.next {
    right: 50px;
}
.calendar__half {
    flex: 0 0 50%;
}
.calendar__header {
    width: 100%;
    min-height: 20px;
    margin: 20px 0;   
}
.date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.date__month, .date__year {
    padding: 0 5px;
}

.calendar__table {
    padding: 16px;
}
.weekdays {
    display: flex;
    align-items: center;
}
.weekdays div{
    font-size: 16px;
    line-height: 40px;
    text-align: center;   
    width: calc(280px / 7);
}
.days {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.days div{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    width: calc(280px / 7);
}

/* .month i {
    font-size: 24px;
    cursor: pointer;
}
.month h1 {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 40px;
}
.month p {
    font-size: 17px;
    font-weight: 400;
}
.weekdays {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 44px;
    color: #000;
    width: calc(390px / 7);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.days div {
    font-size: 14px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}
.days div:hover:not(.today) {
    
    box-shadow: inset 0px 0px 8px 2px rgba(255, 255, 255, 0.3);
}
.prev-date, .next-date {
    opacity: 0.4;
}
.today{
    background-color: #fff;
    color: #000;
    font-weight: 600;
} */


